.footer {
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer span {
    color: white;
}

