.container-fluid {
    background-color: rebeccapurple;
    margin-bottom: 20px;
}

.container-fluid a {
    color: white;
    font-size: 20px;
    text-align: center;
}

.container-fluid a:hover {
    color: gray;
    transition: 0.5s ease;
}

.container-fluid i {
    color: white;
}