.container {
    text-align: center;
}

.search {
    border: 1px solid gray;
    width: 50%;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}

.company {
    width: 70%;
}

#button {
    background-color: rebeccapurple;
    color: white;
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}

#button:hover {
    background-color: white;
    color: rebeccapurple;
    border: 1px solid rebeccapurple;
    transition: 0.5s ease-in-out;
}

.block div {
    border: 1px solid gray;
}