@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.container {
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    background-color: rebeccapurple;
    width: 100%;
}

.link, .link a {
    text-align: center;
    padding: 30px;
}

.spacer {
    margin: 80px 0;
}

nav i, nav a {
    color: white;
}

nav a:hover {
    color: gray;
    transition: 0.5s ease;
}

footer {
    width: 100%;
    margin-top: 50px;
    height: 50px;
    text-align: center;
    justify-content: space-around;
}
