.container {
    margin-bottom: 10px;
}

.block {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 10px 15px -7px rgba(0,0,0,0.72);
}

.article {
    text-align: center;
}

.article p {
    text-align: justify;
    
}

.linkContainer1, .linkContainer2, .linkContainer3, .linkContainer4 {
    text-align: left;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.linkContainer1 a, .linkContainer2 a, .linkContainer3 a, .linkContainer4 a {
    color: white;
    font-weight: bold;
}

.linkContainer1  {
    background-color: blue; 
}

.linkContainer2  {
    background-color: rgb(250, 105, 130);
}

.linkContainer3 {
    background-color: green;
}

.linkContainer4 {
    background-color: rgb(240, 240, 108);
}

.blueContainer, .greenContainer, .lightGreenContainer, .orangeContainer, .darkOrangeContainer {
    justify-content: space-around;
    box-shadow: 2px 10px 15px -7px rgba(0,0,0,0.72);
}

.blueContainer h2, .greenContainer h2, .lightGreenContainer h2, .orangeContainer h2, .darkOrangeContainer h2 {
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.blueContainer h3, .greenContainer h3, .lightGreenContainer h3, .orangeContainer h3, .darkOrangeContainer h3 {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.blueContainer {
    background-color: blue;
}

.lightGreenContainer {
    background-color: rgb(41, 172, 41);
}

.greenContainer {
    background-color: green;
}

.darkOrangeContainer {
    background-color: rgb(223, 145, 0);
}

.orangeContainer {
    background-color: orange;
}




